<h1 mat-dialog-title>Add Employee</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>ID</mat-label>
    <input matInput [(ngModel)]="employee.id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput [(ngModel)]="employee.firstName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput [(ngModel)]="employee.lastName">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onSave()">Save</button>
</div>
